body {
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url('https://images.unsplash.com/photo-1464802686167-b939a6910659?q=80&w=1750&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
}

.avatar {
  width: 150px;
  border-radius: 10%;
  border: 1.5px solid #f4f1de;
}

.card {
  width: 400px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  /* text-align: center; */
  background: #1d3557;
  color: #f1faee;
  border-bottom: 6px solid #e63946;
  border-top: 2px solid white;

  /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

h3 {
  text-decoration-style: wavy;
  text-decoration-line: underline;
  text-decoration-color: #003331;
  text-underline-offset: 5px;
}

.container {
  display: flex;
  align-items: center; /* Vertically centers the content */
  justify-content: center; /* Horizontally centers the content (optional) */
  height: 100vh; /* Example: make container fill viewport height */
}
